$Primary: #9356DC;
$Secondary: #FF79DC;
$Tertiary: #99E2D0;
$Background: #F6F6F6;
$Background-Darken: #EAEAEA;
$LinearGradient: linear-gradient(165deg, $Secondary 0%, $Primary 100%);
$LinearGradient-Inverse: linear-gradient(165deg, $Primary 0%, $Secondary 100%);
$White: #fff;

$Width: 100%;

$Header-FontSize: 45px;
$Header-Center: center;
$Header-Margin: 0;

$Functioning-MarginRight: 1rem;
$Functioning-FontSize: 2.5vh;

$Footer-FontSize: 2.5vh;
$Footer-FontWeight: 300;

$Cursor : pointer;