#Restaurants{
    background-color: $Background;
    padding: .5rem .5rem 1.5rem .5rem;
    max-width: 1024px;
    margin: 0 auto;
    & h2{
        font-size: 23px;
        margin-left: .75rem;
    }
}

.Restaurant{
    & a{
        text-decoration: none;
        color: black;
    }
    .Restaurant_Thumbnail{
        background-color: white;
        border-radius: 1rem; 
        margin: 0 .75rem 2rem .75rem;
        position: relative;
        &:hover{
           @include BoxShadow;
            transition: 150ms ease-in-out;        
        }
        &:active{
            @include BoxShadow-Big;
            @include Scaling;
        }
        & img{
            width: $Width;
            max-height: 300px;
            border-radius: 1rem 1rem 0 0;
            object-fit: cover;
        }
        &_New{
            position: absolute;
            top: .75rem;
            right: .75rem;
            font-size: 16px;
            padding: .5rem .75rem;
            background-color: $Tertiary;
            color: darken($Tertiary, 35);
            font-weight: 600;
            border-radius: .55rem;
        }
        & h3{
            margin: .25rem .5rem;
            font-size: 23px;
        }
        & p{
            margin: .25rem .5rem;
            padding-bottom: .25rem;
            font-size: 24px;
            font-weight: 300;
        }
        & i{
            position: absolute;
            right: 10px;
            bottom: 20px;
            font-size: 30px;
        }
    }
}

.Image_Position{
    object-position: 100% 30%;
}