@mixin Button {
    background: $LinearGradient;
    box-shadow: 0 1px 1px 1px black;
    border-radius: 7.5rem;
    padding: .75rem 1.5rem;
    font-size: 17px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: $White;
    font-weight: 700;
    text-decoration: none;
    opacity: 1;
}

@mixin Button-Inverse {
    background: $LinearGradient-Inverse;
    box-shadow: 0 3px 3px 3px black;
    opacity: 0.75;
    transition: opacity 300ms;
}