#loadingspinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    margin: -100px 0 0 -100px;
    border: 6px solid transparent;
    border-top-color: $Primary;
    border-radius: 50%;
    animation: rotation 1.5s linear 2, disparition 1s 2.25s forwards;

    &::before {
        content: "";
        position: absolute;
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        border: 4px solid transparent;
        border-radius: 50%;
        border-top-color: $Secondary;
        animation: rotation 3s linear 1;
    }

    &::after {
        content: "";
        position: absolute;
        top: 35px;
        right: 35px;
        bottom: 35px;
        left: 35px;
        border: 2px solid transparent;
        border-radius: 50%;
        border-top-color: $Tertiary;
        animation: rotation 1s linear 3;
    }
}
